# MQTT Config
mqtt: 
  broker: #tcp://mqtt.lunar-smart.com:8883
  user:
  password:
  id: #uplink
  topic: #+/+/data
  cleansess: #true
  qos: #1

redis:
  server: #redis:6379
  password: #null
  db: #0
  channel: #uplink
    